.address {
    padding-left: 10px;
    text-align: right;
}

[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 0.5em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    background: white;
    vertical-align: middle;
    margin-right: 1em;
    color: #080606;
}